body{
    background: linear-gradient(to right, #121b30, #121b40, #121b30);
}
a{
	color: #cdbc6d;
	text-decoration: none;
}
a:hover{
	color: #f4ebb9;
}
.uf-form-signin {
    width: 100%;
    max-width: 350px;
    padding: 15px;
    margin: 0 auto;
}
.uf-input-group .input-group-text {
    background: #ffffff70;
    color: #f8f9fa;
    border: unset;
    font-size: 18px;
    padding: 15px;
    width: 50px;
}

.uf-input-group .form-control {
    border: unset;
    border-left: 1px solid #ffffff05;
    font-size: 16px;
    background: #ffffff70;
}

.uf-input-group .form-control:focus {
    box-shadow: unset;
    background: #ffffff;
}
.uf-btn-primary {
    background: #cdbc6d;
    color: #fff;
}

.uf-btn-primary:hover {
    background: #cdbc6d;
    color: #fff;
}

.uf-form-check-input:checked {
    background-color: #cdbc6d;
    border-color: #cdbc6d;
}

.uf-social-login .uf-social-ic+.uf-social-ic{
	margin-left: 15px;
}
.uf-social-ic{
    cursor: pointer;
	width: 40px;
	height: 40px;
	background: #fff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.uf-social-ic:hover{
	background: #cdbc6d;
    .third-party-logo {
        fill: #fff;
    }
}
